.add-card .add-card-container {
    border-radius: 8px;
    transform: scale(1);
    transition: transform 0.3s ease;

}

.add-card .add-card-container:hover {
    transform: scale(0.99);
    transition: transform 0.3s ease;
}

.add-card .add-card {
    background: linear-gradient(135deg, #161616, #383838);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 1;
    width: 100%;
    display: grid;
    place-items: center;
    transition: filter 0.3s ease;

}

.add-card .add-card:hover {
    filter: brightness(0.8);
}

.add-card .custom-add-card-plus {
    font-size: 5em;
    color: #606266;
}