.sidebar {
    background-color: #191919bb;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    height: 95vh;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
    margin-top: 2.5vh;
    position: fixed;
    transition: width 0.3s ease-in-out;
    z-index: 1000;
}

.bottombar.navbar {
    background-color: #000000;
    backdrop-filter: blur(10px);
    width: 100vw;
    position: absolute;
    z-index: 1000;
    padding: 8px 24px;
    bottom: 0px;
    left: 0px;
}

.nav-button-toggle {
    position: absolute;
    top: 5vh;
    left: 60px;
}

.nav-button-toggle.expanded {
    left: 190px;
}

.nav-button-toggle .fa-solid {
    font-size: .8em;
}

.bottombar label {
    font-size: 10px;
}

.bottombar .nav-link {
    padding: 0px;
}

.sidebar.expanded {
    width: 200px;
}

.navbar-brand {
    margin-right: 0px !important;
}

.brand-expand.row,
.brand-expand.row>* {
    padding: 0px;
    margin: 0px;
}

.sidebar .row>* {
    padding: 0px !important;
    margin: 0px !important;
}

.sidebar .nav-link {
    font-size: 1.4em;
    height: 50px;
    gap: 16px;
    display: flex;
    align-items: center;
}

.sidebar .nav-link>img {
    width: 1em;
    border-radius: 50%;
    display: block;
}

.button-title {
    opacity: 0;
    color: #495057;
    font-size: 16px;
    width: 100%;
    text-align: left;
    flex-grow: 1;
    transition: opacity 0.3s ease;
}

.sidebar.expanded .button-title {
    visibility: visible;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.isologo {
    width: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 576px) {
    .sidebar {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .bottombar {
        display: none !important;
    }
}