.playlist-card .playlist-card-container {
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.playlist-card .playlist-card-container:hover {
    transform: scale(0.99);
    transition: transform 0.3s ease;
}

.playlist-card .playlist-card {
    position: relative;
    background-color: #121212;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-top: 100%;
}

.playlist-card-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(100%);
    transition: filter 0.3s ease;
}

.playlist-card:hover .playlist-card-img {
    filter: brightness(50%);
    transition: filter 0.3s ease;
}

.playlist-card-text {
    text-align: left;
    color: #fff;
    width: 100%;
}

.playlist-card-title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.playlist-card-subtitle {
    font-size: 0.8rem;
    color: #b3b3b3;
    margin-top: 4px;
}