.details-info {
    border-radius: 16px;
}

.details-info img {
    border-radius: 24px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.details-info h1 {
    color: hsla(328, 46%, 60%, 0.835);
    line-height: 150%;
}

.list {
    background-color: hsl(0, 0%, 8%);
    border-radius: 16px;
}