.details-info {
    border-radius: 16px;
}

.details-info h5 {
    font-size: 1.1em;
}

.details-info img {
    border-radius: 24px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
}

.details-info h1 {
    color: #aaf700;
    line-height: 150%;
}

.list {
    background-color: hsl(0, 0%, 8%);
    border-radius: 16px;
}

.profile-info img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
}

.profile-page h1 {
    color: #aaf700;
}

.profile-page p {
    color: #e1e1e1;
}

.edit-info-container {
    background-color: #252525a4;
    border-radius: 10px;
}

@media (max-width: 768px) {

    .col-title {
        min-width: 115px;
    }
}