.music-player-container {
    position: fixed;
    bottom: 40px;
    left: 115px;
    width: calc(100vw - 130px - 1.7vw) !important;
    z-index: 99;
    border-radius: 10px;
    overflow: hidden;
}

.music-player {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    padding: 15px 20px;
    color: #e1e1e1;
    border-radius: 10px;
    border: .5px solid #e1e1e124;
}

.music-player .album-cover {
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 8px;
}

.song-title {
    font-size: .95em;
    font-weight: bold;
    color: #e1e1e1;
}

.artist-name {
    font-size: .75em;
    color: #c3c3c3;
}

.controls {

    gap: 15px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #e1e1e1;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #2c292946;
    height: 8px;
    border-radius: 10px;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 576px) {
    .music-player-container {
        bottom: 90px;
        width: 90vw !important;
        left: 5vw;
    }

    .song-title {
        font-size: .75em;
    }

    .artist-name {
        font-size: .65em;
    }

    input[type=range]::-webkit-slider-thumb {
        width: 4px;
        height: 4px;
    }

    input[type=range]::-webkit-slider-runnable-track {
        height: 4px;
    }

}