.music-player-container {
    position: fixed;
    bottom: 40px;
    left: 2.6vw;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.music-player {
    width: 90%;
    max-width: 88vw;
    background: rgba(0, 0, 0, 0.6);
    /* Fallback color */
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    /* Blur effect on the image */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: #e1e1e1;
    border-radius: 10px;
    border: .5px solid #e1e1e124;
    background-image: url('');
    /* Added default empty URL, will be set dynamically */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('');
    /* Adding a gradient overlay */
}

.music-player .music-player-info {
    display: flex;
    align-items: end;
}

.music-player .album-cover {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 20px;
}

.music-player .album-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.music-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.song-title {
    font-size: 16px;
    font-weight: bold;
    color: #e1e1e1;
}

.artist-name {
    font-size: 14px;
    color: #c3c3c3;
}

.controls {
    display: flex;
    align-items: center;
    gap: 15px;
}

@media (max-width: 576px) {
    .music-player-container {
        bottom: 70px;
        left: .3vw;
    }

    .music-player {
        width: 400px;
    }
}