* {
  color: #999999;
  margin: 0px;
  padding: 0px;
}

svg {
  fill: #e1e1e1;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.link {
  text-decoration: none;
  color: #e1e1e1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  font-weight: 300;
  color: #e1e1e1;
}

h1 {
  font-weight: 700;
  font-size: 4em;
}

h2 {
  font-weight: 400;
}

label {
  color: #999999;

}

.selected>* {
  color: #aaf700 !important;
  font-weight: 500;
  fill: #aaf700;
}

.text-link {
  color: #aaf700;
}


.center {
  text-align: center;
}

input {
  color-scheme: dark;
}

/* Bentobox CSS */

.page-container {
  background-color: #121212;
  height: 95vh;
  border-radius: 10px;
  margin-top: 2.5vh;
  margin-left: 105px;
  padding: 20px;
  padding-bottom: 100px;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 130px) !important;
}

.container {
  max-width: 100vw !important;
}

.column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Buttons CSS */

.btn-custom-primary,
button.custom-primary-button {
  border-radius: 50px;
  padding: 10px 30px;
  background-color: #aaf700;
  backdrop-filter: blur(10px);
  color: #121212;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-custom-primary-sm {
  border-radius: 50px;
  padding: 4px 8px;
  background-color: #aaf700;
  backdrop-filter: blur(10px);
  color: #121212;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-custom-primary>svg,
button.custom-primary-button>svg {
  fill: black;
}

.btn-custom-primary:hover,
button.custom-primary-button:hover {
  color: #121212;
  background-color: #7ab300;
}

.btn-custom-primary:active,
button.custom-primary-button:active {
  color: #e1e1e1 !important;
  background-color: #7ab300 !important;
}

.btn-custom-transparent {
  background-color: transparent;
  color: #c3ff42;
}

.btn-custom-transparent:hover {
  background-color: transparent;
  color: rgb(222, 255, 150);
}

.btn-custom-secondary {
  align-items: center;
  justify-content: center;
  background-color: #252525a4;
  border-radius: 50px;
  color: #e1e1e1;
  transition: background-color 0.3s ease;
  padding: 10px 30px;

}

.btn-custom-secondary:hover {
  transition: background-color 0.3s ease;
  background-color: #313131a4;
  color: #e1e1e1;
}

.btn-custom-secondary:active {
  border: none !important;
  background-color: #313131a4 !important;
  color: #e1e1e1;
}

button.custom-focus-button {
  border-radius: 50px;
  padding: 10px 30px;
  background-color: #2e2e2eb9;
  backdrop-filter: blur(10px);
  color: #e1e1e1;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button.custom-focus-button:hover {
  color: #e1e1e1;
  background-color: #1d1d1dcc;
}

.btn-close {
  background-color: transparent;
  background: url("https://res.cloudinary.com/dt9pviq34/image/upload/v1733488091/x-lg_cik0rl.svg") center no-repeat;
}

/* Tabs CSS */

.nav-tabs {
  background-color: transparent;
  border-bottom: 1px solid #e2e2e243;
  border-color: transparent;
}

.nav-tabs:hover {
  background-color: #45454555;
  border-radius: 50px;
}

.nav-item {
  border-radius: 50px;
}

.nav-item .active {
  border-radius: 50px;
  color: #454545;
  background-color: #888888;
}

.nav-link.active {
  background-color: #888888;
  border: none;
}

.nav-link {
  color: #888888;
}

.nav-link:hover,
.nav-link:focus {
  color: #888888;
  border: none;
}

/* Form CSS */
.form-control,
.form-select,
.form-control:autofill {
  border-radius: 50px;
  background-color: #e2e2e243;
  backdrop-filter: blur(10px);
  color: #e1e1e1;
  border: none;
  min-height: 40px;
  width: 100%;
}

input[type="file"] {
  background-color: #e2e2e243;
  color: #e1e1e1;
  border: none;
  border-radius: 50px;
  min-height: 50px;
  width: 100%;
  backdrop-filter: blur(10px);
}

input[type="file"]::file-selector-button {
  background-color: #1d1d1dcc;
  height: 100%;
  color: white;
  border: none;
  border-radius: 50px;
}

.form-floating>input[type="date"].form-control:not(:placeholder-shown),
.form-floating>.form-select {
  padding-top: 0;
  padding-bottom: 0;
}

.form-control.text-area {
  border-radius: 20px;
  height: auto;
}

.form input::placeholder {
  color: #a8a8a8;
}

.form-check-input,
.form-check-input:checked {
  background-color: #aaf700;
  border: none;
}

.form-check-input:focus {
  box-shadow: none;
}

.form-control:focus {
  color: #e1e1e1;
  background-color: #e2e2e243;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.353)
}

.form-select:focus {
  border-radius: 50px;
  color: #e1e1e1;
  background-color: #454545;
  outline: 0;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.353)
}

.form-floating>.form-control:not(:placeholder-shown)~label::after {
  background-color: #494949 !important;
}

.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-control:focus~label {
  color: #a8a8a89c;
  font-size: 14px;
}

.form-floating>.form-control:focus~label::after {
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border-radius: 50px;
  background-color: #e2e2e243;
  backdrop-filter: blur(10px);
  color: #e1e1e1;
  -webkit-text-fill-color: #e1e1e1;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.353) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
textarea:autofill {
  color: #e1e1e1;
  -webkit-text-fill-color: #e1e1e1;
  background-color: #e2e2e243;
}

/* Searcher */

.searcher {
  width: 50px;
  height: 50px;
  background-color: #0a0a0a;
  border: .5px solid #e1e1e125;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: visible;
  transition: transform 0.4s ease-in-out, width 0.3s ease-in-out;
  z-index: 1000;
  position: relative;
}

.searcher.expanded {
  width: 300px;
  transform: scaleX(1) scaleY(1);
}

.searcher .search-input {
  padding-right: 30px;
  background-color: transparent;
  color: #e1e1e1;
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  display: none;
  opacity: 0;
  transition: opacity 0.1s ease-in-out, width 0.1s ease-in-out;
}

.searcher .search-input:focus {
  color: #e1e1e1;
  background-color: transparent;

}

.searcher .search-input::placeholder {
  color: #999999;
  transition: color 0.3s ease-in-out;
}

.searcher.expanded .search-input {
  display: block;
  opacity: 1;
  background-color: transparent;
}

.search-icon {
  pointer-events: none;
  color: #606266;
  font-size: 25px;
  transition: opacity 0.1s ease-in-out;
}

.searcher.expanded .search-icon {
  opacity: 0;
}

.searcher:active {
  transform: scale(0.95);
  background-color: transparent;
}

.list-filtered {
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
  overflow: auto;
  background-color: #0a0a0ad2;
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 5px;
}

.list-filtered .list-group-item {
  background-color: transparent;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.list-filtered .list-group-item:hover {
  background-color: #2a2c30a8;
  cursor: pointer;
}

.list-filtered .search-subtitle {
  color: #606266;
}

/*Select CSS*/

.select-form .select__single-value {
  color: #a8a8a8;
}

.select-form .select__control {
  border-radius: 50px;
  background-color: #e2e2e243;
  backdrop-filter: blur(10px);
  color: #bdbdbd;
  border: none;
  height: 40px;
  width: 100%;
  min-width: 160px;
}

.select-form .select__control .select__placeholder {
  color: #bdbdbd;
}

.select-form .select__menu {
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background-color: #67676773;
}

.select-form .select__menu-list {
  max-height: 105px;
  overflow-y: auto;
}

.select-form .select__option {
  background-color: transparent;
  color: #e1e1e1;
}

.select-form .select__option:hover {
  background-color: #a0a0a090;
  color: #fff;
  border-radius: 10px;
}

.select-form .select__indicator-separator {
  display: none;
}

.select-form .select__option--is-selected {
  background-color: #888888;
  color: #fff;
}

.select-form .select__option--is-selected:hover {
  background-color: #555555;
}

.select-form .select__multi-value {
  background-color: #e2e2e243;
  border-radius: 50px;
}

.select-form .select__multi-value__label {
  color: #e1e1e1;
}

.select-form .select__multi-value__remove {
  color: #e1e1e1;
}

.select-form .select__control--is-focused {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.353);
}

/* Toast */

.toast {
  position: absolute;
  bottom: 5vh;
  left: 5vh;
  background-color: #454545;
  max-width: 30vw;
  z-index: 10002;
}

.toast-header {
  background-color: transparent;
}

.toast-body {
  color: #e1e1e1;
}

/* Dropdown */

.dropdown .btn.show {
  border: none;
  background-color: #1f1f1f;
}

.dropdown .btn.show:focus,
.dropdown .btn.show:focus-visible,
.dropdown .btn:first-child:active {
  border: none;
  background-color: hsl(0, 0%, 12%);
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  background-color: #1f1f1f;
}

.dropdown-menu>a {
  color: #e1e1e1;
}

.dropdown-menu>a:hover {
  background-color: #454545;
  color: #e1e1e1;
}

.dropdown-menu>a:focus,
.dropdown-menu>a:focus-visible {
  background-color: #454545;
  color: #e1e1e1;
}

/* Table*/

.table-custom-dark {
  border-radius: 20px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  min-height: 100%;
}

.table-custom-dark tr {
  background-color: transparent;
  border-bottom: 1px #454545 solid;
}

.table-custom-dark tr:last-child {
  border-bottom: none;
}

.table-custom-dark tbody tr:hover {
  background-color: #454545;
  border: none;
}

.table-custom-dark tr>* {
  background-color: transparent;
  color: #999999;
  border: none;
  vertical-align: middle;
}

/* Modal */

.modal-content {
  background-color: #1f1f1f;
}

.modal-header {
  border-bottom: none;
}

/* Offcanvas */

.offcanvas {
  background-color: #1f1f1f;
}

/* Cover image blur */

.cover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  opacity: 60%;
  filter: blur(70px);
  object-fit: cover;
  z-index: -2;
}

.cover-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff00 0%, #0b0b0b 60%, #121212 90%);
  z-index: -1;
}

/* Badges */

.badge {
  padding: 8px 16px;
  border-radius: 50px;
  color: #454545;
}

.bg-primary {
  background-color: transparent !important;
  border: 1px #454545 solid;
}

/* .bg-primary:hover {
  background-color: #454545 !important;
  color: #aaf700;
} */

/* Cards */

.card {
  background-color: #121212;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.card-img-top {
  border-radius: 8px;
}