@media (max-width: 576px) {

    h1 {
        font-size: 2em;
    }

    .page-container {
        height: 75vh;
        margin: 5vw;
        width: 90vw !important;
    }

    .searcher {
        width: 50px;
        height: 50px;
    }

    .searcher.expanded {
        width: 170px;
        transform: scaleX(1) scaleY(1);
    }

    .list-filtered {
        font-size: .85em;
    }

    .md-form-floating {
        height: fit-content;
    }

    .btn-custom-player {
        padding: 1px 16px;
    }

    .cover-image {
        height: 450px;
        opacity: 80%;
        filter: blur(30px);
    }

    .cover-container::before {
        height: 100vh;
        background: linear-gradient(to bottom, #00000000 0%, #121212 70%);
    }

    .toast {
        max-width: 60vw;
    }


    .offcanvas {
        background-color: #1f1f1f;
        width: 80vw !important;
    }

    .mobile-logout-button {
        display: block;
    }

}

@media (min-width : 577px) {

    .md-form-floating {
        height: 58px;
    }

}

@media (min-width: 768px) and (max-width: 1300px) {
    .btn-custom-player {
        padding: 5px 19px;
    }
}