.homepage-greeting-container h2 {
    font-size: 1.3em;
    color: #525a62;
    user-select: none;
    font-weight: 400;
}

.username {
    color: #e1e1e1;
}

h2 .bi {
    fill: #e1e1e1;
    font-size: 1.2em;
}