.searcher {
    width: 50px;
    height: 50px;
    background-color: #0a0a0a;
    border: .5px solid #e1e1e125;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: visible;
    transition: transform 0.4s ease-in-out, width 0.3s ease-in-out;
    z-index: 1000;
    position: relative;
}

.searcher.expanded {
    width: 300px;
    transform: scaleX(1) scaleY(1);
}

.searcher .search-input {
    padding-right: 30px;
    background-color: transparent;
    color: #e1e1e1;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    display: none;
    opacity: 0;
    transition: opacity 0.1s ease-in-out, width 0.1s ease-in-out;
}

.searcher .search-input:focus {
    color: #e1e1e1;
    background-color: transparent;

}

.searcher .search-input::placeholder {
    color: #999999;
    transition: color 0.3s ease-in-out;
}

.searcher.expanded .search-input {
    display: block;
    opacity: 1;
    background-color: transparent;
}

.search-icon {
    pointer-events: none;
    color: #606266;
    font-size: 25px;
    transition: opacity 0.1s ease-in-out;
}

.searcher.expanded .search-icon {
    opacity: 0;
}

.searcher:active {
    transform: scale(0.95);
    background-color: transparent;
}

.list-filtered {
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
    overflow: auto;
    background-color: #0a0a0ad2;
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 5px;
}

.list-filtered .list-group-item {
    background-color: transparent;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.list-filtered .list-group-item:hover {
    background-color: #2a2c30a8;

    cursor: pointer;

}

.list-filtered .search-subtitle {
    color: #606266;
}

@media (max-width: 576px) {

    .searcher.expanded {
        width: 210px;
        transform: scaleX(1) scaleY(1);
    }

    .list-filtered {
        font-size: 1em;
    }
}